


* {
    box-sizing: border-box;
    margin: 0;
    float: none;
    position: static;
}

.phone{
    display: none;
}



header{
    background-color: black;
    height: 80px;
    width: 1440px;
    
}
.header-left img{
    float: left;
    margin-top: 6px;
    margin-left: 20px;
}
.header-left h3{
    color: white;
    float: left;
    padding-top: 28px;
    padding-left: 20px;
}


.swich-wrapper{
    background-color: grey;
    text-align: center;
    width: 1440px;
    border-bottom: 10px solid black;
   
}
.swich-wrapper a{
    padding: 20px 75px;
    background-color: white;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}


.news-wrapper{
    background-image: url(/img/back_ground.jpg);
    background-size: cover;
    height: 100%;
    width: 1440px;
}

.news-text{
    background-color:rgba(0, 0, 0, 0.814);
    width: 1200px;
    margin: auto;
    height: 100%;
    text-align: center;
    padding-bottom: 40px;
}
.news-text h1{
    color: azure;
    padding-top: 50px;
    font-size: 20px;
    font-family: "azuki_font";
}
.news-text h1 span{
    font-size: 40px;
    margin-left: 30px;
}
.news-text p{
    color: white;
    font-size: 20px;
    padding: 50px 30px 0 30px;
    line-height: 35px;
}
.news-text h2{
    color: white;
    font-size: 20px;
    padding-top: 10px;
}


.news-text a{
    padding:10px 30px;
    background-color: rgba(0, 229, 0, 0.83);
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-size: 20px;
    box-shadow: 0 6px black;
}
.news-text a:hover{
    opacity: 1;
    transition: 0.3s;
}
.news-text a:active{
    box-shadow: none;
    position: relative;
    top:6px;
}

.news-img{
    padding-top:30px;
}
.news-img img{
    margin: 0 5px;
}

.bottom-text{
    padding-top: 10px;
}


footer{
    width: 1440px;
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
